* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

main {
    position: relative;
}
/******FONT*************************************************/
/* font-family: 'Abel', sans-serif;
font-family: 'Economica', sans-serif; */

/*****BARRE D ETAT DU TELEPHONE*************/
.telephone {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 00.4rem;
    padding-right: 00.4rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

.telephone img {
    
    width: 1rem;
    height: 1rem;
}
.telephone time{
    padding-right: 1rem;

}
.telephone__icones--gauche{
    display: flex;
    align-items: center;
}
.telephone__operateur{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/***********BARRE DE RECHERCHE*********************************/
header {
    display: flex;
    justify-content: center;
}
.search {
    position: absolute;
    top: 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 17.5rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;

}

#search__button {
    color: #9FA2B2;
    padding-left: 1rem;

    width: 17rem;
    border: none;
    font-size: 1.15rem;
    font-family: 'Abel', sans-serif;
}

.loupe {
    color: #9FA2B2;
    padding-right: 0.5rem;
    width: 2rem;
}

/**************CARTE*******************************************/
.localisation img{
    position: absolute;
    width: 50px;
    top: 300px;
    left: 43%;
    z-index: 200;
}
.carte {
    /* position:absolute; */
    width: 100%;
    z-index: 1;
}
/***********ASIDE**********************************************/
aside{
    font-family: 'Abel', sans-serif;;
    position: absolute;
    top: 30rem;
    z-index: 200;
    
    width: 100%;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: #3c7a89;
}
.station{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Economica', sans-serif; 
    /* color: #16262E; */
    color: whitesmoke;
    font-size: 1.125rem;
}

.zeroVelo{
    color: #16262E;
}
/***********FOOTER*********************************************/

.menu {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    height: 3rem;
    margin-bottom: 0.0625rem;
    background-color: white;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item img{
    padding-right: 1rem;
}